git+https://github.com/EleutherAI/aria.git
git+https://github.com/geoffroypeeters/ssmnet_ISMIR2023.git
evaluate==0.4.1
jsonlines==4.0.0
miditoolkit==1.0.1
music21==9.1.0
numpy==2.0.0
pandas==2.2.2
PyYAML==6.0.1
torch==2.2.2
tqdm==4.66.2
transformers==4.40.1
